<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696262124909-8128hegjoco6oas9nl8p3kou77hsgpns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696262124909-8128hegjoco6oas9nl8p3kou77hsgpns</string>
	<key>API_KEY</key>
	<string>AIzaSyAln7RGq9nrwWOIZAkk59jq3oVwNPulOT0</string>
	<key>GCM_SENDER_ID</key>
	<string>696262124909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.idealPlayground</string>
	<key>PROJECT_ID</key>
	<string>ideal-playground</string>
	<key>STORAGE_BUCKET</key>
	<string>ideal-playground.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696262124909:ios:8524f0a0a355e317cda664</string>
</dict>
</plist>